# CRIME DATA SET :

In [1]:
import os
# print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.
import itertools
import os
import math

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.utils import shuffle
from sklearn.preprocessing import LabelBinarizer, LabelEncoder
from sklearn.metrics import confusion_matrix
import sklearn 

from tensorflow import keras
layers = keras.layers
models = keras.models
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

### READING .CSV FIE

In [3]:
data = pd.read_csv("Crime_Data_2010_2017.csv")
data.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"

In [4]:
len(data)

1584316

In [5]:
data.shape

(1584316, 26)

### IN ORDER TO MAKEE DATA BIAS WE SHUFFLE THE DATA

In [6]:
data = shuffle(data)
print(data)

         DR Number Date Reported Date Occurred  Time Occurred  Area ID  \
1045690  150606433    02/06/2015    02/06/2015           1710        6
296463   101322367    10/04/2010    10/04/2010            540       13
451926   111508967    04/07/2011    04/01/2011           1700       15
1305797  161019056    11/28/2016    11/27/2016           2200       10
507892   112110448    05/12/2011    05/12/2011           1325       21
894748   141212347    05/15/2014    05/15/2014           1100       12
39441    130512165    07/04/2013    07/04/2013           2215        5
175523   101911595    04/23/2010    04/23/2010           1435       19
747441   131612823    08/08/2013    08/08/2013            500       16
630818   121313068    05/31/2012    05/30/2012           2200       13
93608    101114559    06/19/2010    06/18/2010           1700       11
486956   111823637    12/28/2011    12/28/2011           1210       18
1579631  170515409    09/01/2017    09/01/2017           1200        5
1568651  170814497    08/20/2017    08/19/2017           1600        8
1052713  150624157    11/15/2015    11/15/2015             15        6
629502   121309967    04/06/2012    04/06/2012            925       13
1564503  171416738    07/17/2017    07/17/2017             45       14
1511983  171708110    03/18/2017    03/05/2017           2115       17
178487   131223577    10/21/2013    10/21/2013           2000       12
633554   121319517    09/22/2012    09/22/2012            350       13
129045   101420446    09/08/2010    06/25/2010           1200       14
710328   122116752    10/05/2012    09/28/2012           1200       21
892887   141208991    03/23/2014    03/23/2014            830       12
912486   141323490    12/15/2014    12/15/2014           1355       13
195557   102114919    07/27/2010    02/01/2010           1100       21
974307   142014132    07/31/2014    07/31/2014              5       20
1150803  151614117    09/28/2015    09/28/2015           1820       16
1569975  171318634    08/17/2017    08/17/2017           2100       13
736265   131511078    05/15/2013    03/18/2013           1200       15
221978   100221194    11/19/2010    11/19/2010           2230        2
...            ...           ...           ...            ...      ...
973381   142012325    06/26/2014    06/23/2014              1       20
792325   132115968    09/24/2013    09/24/2013            630       21
52648    130705611    02/09/2013    02/01/2013           1800        7
725172   131410293    04/01/2013    03/27/2013           1330       14
1580210  170715207    09/06/2017    09/04/2017           2200        7
1118084  151313726    06/27/2015    06/27/2015            200       13
1380728  161719053    11/03/2016    11/03/2016            615       17
665061   121700681    04/25/2012    04/25/2012           1500       17
898113   141218111    08/10/2014    08/09/2014            620       12
376384   110709668    05/19/2011    05/11/2011           1400        7
1003462  150123985    10/27/2015    10/27/2015           1330        1
919851   141422121    08/28/2014    08/28/2014           1805       14
149744   131211717    04/29/2013    04/28/2013           1100       12
621135   121218618    07/31/2012    07/31/2012            400       12
25733    130321305    09/29/2013    09/27/2013            710        3
426623   111223662    10/03/2011    10/02/2011           2000       12
1330939  161229948    12/16/2016    12/16/2016           2000       12
583329   120816110    10/18/2012    10/18/2012           1455        8
236793   100404805    01/19/2010    01/17/2010            800        4
750219   131704165    01/04/2013    01/04/2013           1800       17
843740   140616080    07/24/2014    07/23/2014           1700        6
1531121  172105993    02/07/2017    02/07/2017           1300       21
1202840  160504568    01/14/2016    11/15/2015           1400        5
403237   111013550    07/27/2011    07/26/2011           2000       10
188437   102022083    10/14/2010    10/09/2010           1800       20
481180   111813112    06/07/2011    06/07/2011           1535       18
139933   101518731    09/01/2010    08/30/2010           1710       15
1531572  172106927    02/23/2017    02/23/2017           2050       21
890812   141205132    01/20/2014    01/16/2014            200       12
1411265  162018687    10/24/2016    10/13/2016           1830       20

           Area Name  Reporting District  Crime Code  \
1045690    Hollywood                 636         220
296463        Newton                1309         330
451926   N Hollywood                1525         341
1305797  West Valley                1004         330
507892       Topanga                2107         350
894748   77th Street                1203         624
39441         Harbor                 514         745
175523       Mission                1958         354
747441      Foothill                1638         210
630818        Newton                1303         330
93608      Northeast                1101         762
486956     Southeast                1823         210
1579631       Harbor                 511         624
1568651      West LA                 817         440
1052713    Hollywood                 636         623
629502        Newton                1307         624
1564503      Pacific                1441         624
1511983   Devonshire                1762         420
178487   77th Street                1259         420
633554        Newton                1331         745
129045       Pacific                1454         354
710328       Topanga                2161         354
892887   77th Street                1265         210
912486        Newton                1363         440
195557       Topanga                2148         930
974307       Olympic                2027         331
1150803     Foothill                1601         230
1569975       Newton                1363         626
736265   N Hollywood                1521         649
221978       Rampart                 256         210
...              ...                 ...         ...
973381       Olympic                2053         956
792325       Topanga                2137         745
52648       Wilshire                 743         420
725172       Pacific                1496         341
1580210     Wilshire                 755         420
1118084       Newton                1346         510
1380728   Devonshire                1798         310
665061    Devonshire                1716         310
898113   77th Street                1269         420
376384      Wilshire                 738         740
1003462      Central                 185         341
919851       Pacific                1415         437
149744   77th Street                1242         310
621135   77th Street                1259         626
25733      Southwest                 391         310
426623   77th Street                1204         930
1330939  77th Street                1265         626
583329       West LA                 884         440
236793    Hollenbeck                 478         354
750219    Devonshire                1727         310
843740     Hollywood                 648         310
1531121      Topanga                2137         230
1202840       Harbor                 529         354
403237   West Valley                1089         745
188437       Olympic                2015         740
481180     Southeast                1834         210
139933   N Hollywood                1595         341
1531572      Topanga                2158         341
890812   77th Street                1241         624
1411265      Olympic                2022         510

                                    Crime Code Description  \
1045690                                  ATTEMPTED ROBBERY
296463                               BURGLARY FROM VEHICLE
451926   THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...
1305797                              BURGLARY FROM VEHICLE
507892                                       THEFT, PERSON
894748                            BATTERY - SIMPLE ASSAULT
39441             VANDALISM - MISDEAMEANOR ($399 OR UNDER)
175523                                   THEFT OF IDENTITY
747441                                             ROBBERY
630818                               BURGLARY FROM VEHICLE
93608                                         LEWD CONDUCT
486956                                             ROBBERY
1579631                           BATTERY - SIMPLE ASSAULT
1568651                 THEFT PLAIN - PETTY ($950 & UNDER)
1052713                            BATTERY POLICE (SIMPLE)
629502                            BATTERY - SIMPLE ASSAULT
1564503                           BATTERY - SIMPLE ASSAULT
1511983    THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
178487     THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
633554            VANDALISM - MISDEAMEANOR ($399 OR UNDER)
129045                                   THEFT OF IDENTITY
710328                                   THEFT OF IDENTITY
892887                                             ROBBERY
912486                  THEFT PLAIN - PETTY ($950 & UNDER)
195557              CRIMINAL THREATS - NO WEAPON DISPLAYED
974307    THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)
1150803     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
1569975                  INTIMATE PARTNER - SIMPLE ASSAULT
736265                    DOCUMENT FORGERY / STOLEN FELONY
221978                                             ROBBERY
...                                                    ...
973381                                       LETTERS, LEWD
792325            VANDALISM - MISDEAMEANOR ($399 OR UNDER)
52648      THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
725172   THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...
1580210    THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
1118084                                   VEHICLE - STOLEN
1380728                                           BURGLARY
665061                                            BURGLARY
898113     THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
376384   VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...
1003462  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...
919851                                    RESISTING ARREST
149744                                            BURGLARY
621135                   INTIMATE PARTNER - SIMPLE ASSAULT
25733                                             BURGLARY
426623              CRIMINAL THREATS - NO WEAPON DISPLAYED
1330939                  INTIMATE PARTNER - SIMPLE ASSAULT
583329                  THEFT PLAIN - PETTY ($950 & UNDER)
236793                                   THEFT OF IDENTITY
750219                                            BURGLARY
843740                                            BURGLARY
1531121     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
1202840                                  THEFT OF IDENTITY
403237            VANDALISM - MISDEAMEANOR ($399 OR UNDER)
188437   VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...
481180                                             ROBBERY
139933   THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...
1531572  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...
890812                            BATTERY - SIMPLE ASSAULT
1411265                                   VEHICLE - STOLEN

                                        MO Codes  ...  \
1045690                 1202 0903 0400 0432 1402  ...
296463                                      0344  ...
451926                                      0344  ...
1305797                                1606 0344  ...
507892                                 0344 1258  ...
894748        0416 0446 1259 1251 1815 1824 1402  ...
39441                                  1300 0329  ...
175523                                       NaN  ...
747441                       0334 0344 0302 0370  ...
630818                            1609 1307 0344  ...
93608                                  0538 1259  ...
486956                                 0352 1300  ...
1579631       0329 0360 0432 0443 0444 0913 1309  ...
1568651                                     0344  ...
1052713                                0400 1212  ...
629502        0416 0319 0400 1236 1013 0446 0917  ...
1564503                                     0416  ...
1511983                 0202 0344 1606 2004 0216  ...
178487                                       NaN  ...
633554                                      0329  ...
129045                                      0344  ...
710328                            0377 0928 1822  ...
892887   2000 0342 0416 1814 1243 0446 0429 1817  ...
912486                                      0344  ...
195557                                 0421 0913  ...
974307                                      0344  ...
1150803  0906 0334 0312 1414 1822 1251 0371 0416  ...
1569975                                2000 0400  ...
736265                                 1822 0923  ...
221978                            0344 0355 0416  ...
...                                          ...  ...
973381                       0913 1814 0906 1266  ...
792325                                      0329  ...
52648                                        NaN  ...
725172                                 0344 1501  ...
1580210                                0344 0385  ...
1118084                                      NaN  ...
1380728                                0314 0344  ...
665061                  0321 1601 1822 0344 0389  ...
898113                       0342 0344 1309 1822  ...
376384                                      0329  ...
1003462                                     0344  ...
919851                                      1402  ...
149744                                 1607 0321  ...
621135                       2000 0913 0416 0429  ...
25733                                       0344  ...
426623                  0421 2000 1814 0319 0432  ...
1330939                 2000 1813 0416 0419 1402  ...
583329                            0352 0325 0344  ...
236793                            0100 0377 0930  ...
750219                       1202 0344 1607 0321  ...
843740                                      0344  ...
1531121                 0913 0409 0421 0448 0444  ...
1202840                                     1822  ...
403237                                      0329  ...
188437                                 0329 0311  ...
481180                       0344 0355 0400 1259  ...
139933                                      0344  ...
1531572                                     0344  ...
890812                                      0416  ...
1411265                                      NaN  ...

                                     Weapon Description Status Code  \
1045690  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          AA
296463                                              NaN          AO
451926                                              NaN          IC
1305797                                             NaN          IC
507892   STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          IC
894748   STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          JA
39441                                               NaN          IC
175523                                              NaN          IC
747441                                         HAND GUN          IC
630818                                              NaN          IC
93608                                               NaN          IC
486956   STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          IC
1579631  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          IC
1568651                                             NaN          IC
1052713  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          IC
629502   STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          AA
1564503                     UNKNOWN WEAPON/OTHER WEAPON          AA
1511983                     UNKNOWN WEAPON/OTHER WEAPON          IC
178487                                              NaN          IC
633554                                              NaN          IC
129045                                              NaN          IC
710328                                              NaN          IC
892887   STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          IC
912486                                              NaN          IC
195557                                              NaN          IC
974307                                              NaN          IC
1150803                                        HAND GUN          IC
1569975  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          AO
736265                                              NaN          IC
221978   STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          IC
...                                                 ...         ...
973381                                              NaN          AO
792325                                              NaN          IC
52648                                               NaN          IC
725172                                              NaN          IC
1580210                     UNKNOWN WEAPON/OTHER WEAPON          IC
1118084                                             NaN          IC
1380728                                             NaN          IC
665061                                              NaN          IC
898113                                              NaN          IC
376384                                              NaN          IC
1003462                                             NaN          IC
919851                                              NaN          AO
149744                                              NaN          IC
621135                                              NaN          IC
25733                                               NaN          IC
426623                                    VERBAL THREAT          AO
1330939  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          AO
583329                                              NaN          AO
236793                                              NaN          IC
750219                                              NaN          IC
843740                                              NaN          IC
1531121  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          AA
1202840                                             NaN          IC
403237                                              NaN          IC
188437                                              NaN          IC
481180   STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          JA
139933                                              NaN          IC
1531572                                             NaN          IC
890812   STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)          IC
1411265                                             NaN          IC

        Status Description  Crime Code 1 Crime Code 2  Crime Code 3  \
1045690       Adult Arrest         220.0        998.0           NaN
296463         Adult Other         330.0          NaN           NaN
451926         Invest Cont         341.0          NaN           NaN
1305797        Invest Cont         330.0          NaN           NaN
507892         Invest Cont         350.0          NaN           NaN
894748          Juv Arrest         624.0          NaN           NaN
39441          Invest Cont         745.0          NaN           NaN
175523         Invest Cont         354.0          NaN           NaN
747441         Invest Cont         210.0          NaN           NaN
630818         Invest Cont         330.0          NaN           NaN
93608          Invest Cont         762.0          NaN           NaN
486956         Invest Cont         210.0          NaN           NaN
1579631        Invest Cont         624.0        930.0           NaN
1568651        Invest Cont         440.0          NaN           NaN

In [7]:
dt = pd.DataFrame(data)
dt.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
38767,130510722,06/01/2013,05/31/2013,1800,5,Harbor,514,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,1200 W PACIFIC COAST HY,NaN,"(33.7904, -118.2777)"
1570478,171517193,08/18/2017,08/18/2017,230,15,N Hollywood,1538,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329 1609,...,NaN,IC,Invest Cont,740.0,NaN,NaN,NaN,5700 FAIR AV,NaN,"(34.174, -118.3746)"
1364683,161523645,12/23/2016,12/23/2016,930,15,N Hollywood,1548,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,1813 1814 0913 1414 2000 0444 0408 0401,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,236.0,NaN,NaN,NaN,5200 RIVERTON AV,NaN,"(34.1649, -118.3653)"
1419008,162112560,07/02/2016,06/30/2016,5,21,Topanga,2189,354,THEFT OF IDENTITY,0349 0930 1822 0906,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,5400 PENFIELD AV,NaN,"(34.1681, -118.5685)"
536532,120316110,07/06/2012,07/05/2012,220,3,Southwest,326,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,2700 KENWOOD AV,NaN,"(34.0309, -118.2991)"

In [8]:
dt.columns

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'Victim Age', 'Victim Sex',
       'Victim Descent', 'Premise Code', 'Premise Description',
       'Weapon Used Code', 'Weapon Description', 'Status Code',
       'Status Description', 'Crime Code 1', 'Crime Code 2', 'Crime Code 3',
       'Crime Code 4', 'Address', 'Cross Street', 'Location '],
      dtype='object')

## WE HAVE REMOVED UNNECESSARY COLUMNBS

In [7]:
dt = data.drop(['Date Reported', 'Date Occurred','Area Name','Crime Code Description','MO Codes','Victim Descent','Premise Description',
              'Weapon Description','Status Description', 'Crime Code 2', 'Crime Code 3','Crime Code 4', 'Address', 'Cross Street','Location ','Status Code', 'Victim Sex'],axis="columns")

In [8]:
dt.head(20)

,DR Number,Time Occurred,Area ID,Reporting District,Crime Code,Victim Age,Premise Code,Weapon Used Code,Crime Code 1
1045690,150606433,1710,6,636,220,21.0,101.0,400.0,220.0
296463,101322367,540,13,1309,330,20.0,101.0,NaN,330.0
451926,111508967,1700,15,1525,341,53.0,121.0,NaN,341.0
1305797,161019056,2200,10,1004,330,38.0,108.0,NaN,330.0
507892,112110448,1325,21,2107,350,13.0,210.0,400.0,350.0
894748,141212347,1100,12,1203,624,14.0,720.0,400.0,624.0
39441,130512165,2215,5,514,745,77.0,122.0,NaN,745.0
175523,101911595,1435,19,1958,354,27.0,501.0,NaN,354.0
747441,131612823,500,16,1638,210,57.0,101.0,102.0,210.0
630818,121313068,2200,13,1303,330,44.0,101.0,NaN,330.0
93608,101114559,1700,11,1101,762,15.0,109.0,NaN,762.0
486956,111823637,1210,18,1823,210,41.0,101.0,400.0,210.0
1579631,170515409,1200,5,511,624,31.0,502.0,400.0,624.0
1568651,170814497,1600,8,817,440,57.0,402.0,NaN,440.0
1052713,150624157,15,6,636,623,14.0,102.0,400.0,623.0
629502,121309967,925,13,1307,624,23.0,406.0,400.0,624.0
1564503,171416738,45,14,1441,624,33.0,101.0,500.0,624.0
1511983,171708110,2115,17,1762,420,37.0,108.0,500.0,420.0
178487,131223577,2000,12,1259,420,12.0,101.0,NaN,420.0
633554,121319517,350,13,1331,745,41.0,502.0,NaN,745.0

## REMOVEING NAN VALUES

In [10]:
copy1 = dt.fillna(0)
copy1.head()

,DR Number,Time Occurred,Area ID,Reporting District,Crime Code,Victim Age,Premise Code,Weapon Used Code,Crime Code 1
1045690,150606433,1710,6,636,220,21.0,101.0,400.0,220.0
296463,101322367,540,13,1309,330,20.0,101.0,0.0,330.0
451926,111508967,1700,15,1525,341,53.0,121.0,0.0,341.0
1305797,161019056,2200,10,1004,330,38.0,108.0,0.0,330.0
507892,112110448,1325,21,2107,350,13.0,210.0,400.0,350.0

In [12]:
copy1 = np.array(copy1)

In [13]:
train_size = math.ceil(int(len(copy1))*0.5)
print(train_size)
test_size = math.ceil(int(len(copy1))*0.3)
print(test_size)
validation_data_size = math.ceil(int(len(copy1))*0.2)
print(validation_data_size)
792158+475295+316864

792158
475295
316864

1584317

In [14]:
train_data = copy1[:792158].astype("float64")
test_data = copy1[792158:1267453].astype('float64')
validation_data = copy1[1267453:1584317].astype('float64')

In [15]:
train_label = copy1[:792158, 4:5]
print(train_label)
test_label = copy1[:test_size,8:9]
print(test_label)
validation_label = copy1[:validation_data_size,8:9]
print(validation_label)

[[220.]
 [330.]
 [341.]
 ...
 [330.]
 [740.]
 [343.]]
[[220.]
 [330.]
 [341.]
 ...
 [626.]
 [745.]
 [230.]]
[[220.]
 [330.]
 [341.]
 ...
 [354.]
 [624.]
 [354.]]

In [17]:

model = models.Sequential()
model.add(layers.Dense(10, activation='relu', input_shape=(9,)))
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(1))
#model.compile(optimizer='rmsprop',loss='sparse_categorical_crossentropy',metrics=['accuracy'])
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae'])

In [18]:
history = model.fit(train_data,
train_label,
epochs=10,
batch_size=512
        )

Train on 792158 samples
Epoch 1/10
792158/792158 [==============================] - 7s 9us/sample - loss: 2712708309998.0981 - mae: 452946.9062
Epoch 2/10
792158/792158 [==============================] - 4s 6us/sample - loss: 131262072.5131 - mae: 3659.5547
Epoch 3/10
792158/792158 [==============================] - 4s 6us/sample - loss: 17802359.1338 - mae: 591.0461
Epoch 4/10
792158/792158 [==============================] - 6s 8us/sample - loss: 237895.9470 - mae: 439.5432
Epoch 5/10
792158/792158 [==============================] - 6s 8us/sample - loss: 177028.6637 - mae: 363.6581
Epoch 6/10
792158/792158 [==============================] - 6s 8us/sample - loss: 112348.8748 - mae: 266.4014
Epoch 7/10
792158/792158 [==============================] - 8s 11us/sample - loss: 61943.2022 - mae: 190.3169
Epoch 8/10
792158/792158 [==============================] - 9s 11us/sample - loss: 44639.0210 - mae: 179.3529
Epoch 9/10
792158/792158 [==============================] - 7s 8us/sample - loss: 44359.9294 - mae: 179.8572
Epoch 10/10
792158/792158 [==============================] - 6s 8us/sample - loss: 44359.9396 - mae: 179.8525

In [ ]:
results = model.evaluate(test_data, test_label)

In [ ]:

history = model.fit(train_data,
train_label,
epochs=100,
batch_size=4,
validation_data= (validation_data,validation_label)        )

In [ ]:
history_dict_v = history.history
history_dict_v.keys()

In [ ]:
import matplotlib.pyplot as plt
loss = history_dict_v['loss']
accuracy = history_dict_v['mae']
plt.plot(loss,accuracy, label='Training loss')
plt.title('Actual Training  loss')
plt.xlabel('Loss')
plt.ylabel('accuracy')
plt.legend()

plt.show()

In [ ]:
 200+2000